<div Class="footer summer-theme">
    <mat-grid-list color="primary" cols="3" rowHeight="10:4">
        
        <mat-grid-tile [colspan]="1" [rowspan]="1">
                <h1>Moutains Sports</h1>
                <p>Moutains sports une application pour les amoureux de la montagnes en toutes saisons Hiver ou Ete. moutains Sports couvre le Ski en hiver et le Vtt en Ete.</p>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="1">
                <h1 class="text-uppercase">Contact</h1>
                <p>Adresse :</p>
                <p>Mail :</p>
                <p>tel :</p>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="1">
                <h1 class="text-uppercase">Suivez Nous :</h1>
                <mat-icon>more_vert</mat-icon>  
                <mat-icon>share</mat-icon>  
                <mat-icon>person</mat-icon>   
        </mat-grid-tile>
        <mat-grid-tile [colspan]="3" [rowspan]="1"><p>Copyright © Moutain Sports 2018, All rights reserved.</p></mat-grid-tile>
    </mat-grid-list>
</div>