<!-- <mat-sidenav-container class="example-container" >
  
  <mat-sidenav class="sidenav" #sidenav mode="side" >  
        <div class="header-sidenav">
            
        </div>
      <mat-list>
         <mat-nav-list>
            <mat-list-item>
              <a matLine href="..."><mat-icon>info</mat-icon> Mes Station</a>
            </mat-list-item>
            <mat-list-item> Aux Alentours </mat-list-item>
            <mat-list-item> Localiser </mat-list-item>
            <mat-list-item>
              <a matLine href=""><mat-icon>arrow_back_ios</mat-icon> Selection Saison</a>
            </mat-list-item>
          </mat-nav-list>
      </mat-list>
  </mat-sidenav>

  <mat-sidenav-content>
      <mat-toolbar color="primary">
          <mat-toolbar-row>
              <button mat-icon-button (click)="SidenavOpen()"><mat-icon>{{iconmenu}}</mat-icon></button>
              <span>Winters Sports</span>
              <span class="example-spacer"></span>
              <mat-icon class="example-icon">search</mat-icon>
        
              <button mat-icon-button [matMenuTriggerFor]="menu">
                  <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                  <button mat-menu-item>
                    <mat-icon>refresh</mat-icon>
                    <span>Refresh</span>
                  </button>
                  <button mat-menu-item>
                    <mat-icon>help</mat-icon>
                    <span>Help</span>
                  </button>
                  <button mat-menu-item>
                    <mat-icon>exit_to_app</mat-icon>
                    <span>Quit</span>
                  </button>
                </mat-menu>
        
          </mat-toolbar-row>
        </mat-toolbar>

    <app-card-station></app-card-station>
  
    <app-footer></app-footer>
  </mat-sidenav-content>
</mat-sidenav-container> -->

 <nz-layout>
  <nz-header class="nz-header">
    <i class="trigger" nz-icon [type]="isCollapsed?'menu-unfold':'menu-fold'" (click)="isCollapsed=!isCollapsed"></i>
    <span style="color:white">Winters Sports</span>
    <i nz-icon type="ellipsis" theme="outline"></i>
  </nz-header>


    <nz-layout style="background: #fff">
      <nz-sider nzCollapsible [(nzCollapsed)]="isCollapsed" [nzTrigger]="triggerTemplate">
        <div class="logo">
        </div>
        <ul nz-menu [nzTheme]="'dark'" [nzMode]="'inline'" [nzInlineCollapsed]="isCollapsed">
          <!-- <li nz-submenu>
            <span title><i nz-icon type="user"></i><span class="nav-text">User</span></span>
            <ul>
              <li nz-menu-item>Tom</li>
              <li nz-menu-item>Bill</li>
              <li nz-menu-item>Alex</li>
            </ul>
          </li>
          <li nz-submenu>
            <span title><i nz-icon type="team"></i><span class="nav-text">Team</span></span>
            <ul>
              <li nz-menu-item>Team 1</li>
              <li nz-menu-item>Team 2</li>
            </ul>
          </li> -->
          <li nz-menu-item><span><i nz-icon type="file"></i><span class="nav-text">Mes Stations</span></span></li>
          <li nz-menu-item><span><i nz-icon type="file"></i><span class="nav-text">Aux Alentours</span></span></li>
          <li nz-menu-item><span><i nz-icon type="file"></i><span class="nav-text">Localiser</span></span></li>
        </ul>
      </nz-sider>
      <nz-content style="margin:16px 16px;">
        <div style="padding:24px; background: #fff; min-height: 760px;">
          <!-- <app-all-stations></app-all-stations> -->
          <div style="text-align:center">
            <h1>
              Welcome to Map!
            </h1>
          </div>
          <app-map></app-map>
        </div>
      </nz-content>
    </nz-layout>
    <nz-footer style="text-align: center;background-color: steelblue;color: white">Moutain Sports ©2019 Implement By Angular</nz-footer>
</nz-layout>
<ng-template #trigger>
  <i nz-icon type="up"></i>
</ng-template> 