<div class="container">
  <mat-grid-list cols="8" rowHeight="335px">
          
      <mat-grid-tile [colspan]="1" [rowspan]="1">
          <div class="AvatarStation">
              <img class="Img-Circle-Station" src="http://www.taxilessaisiesbeaufortain.com/medias/images/image.jpeg?fx=r_1200_800">
              <div class="NameStation">Les Saisies</div>
            </div>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="1">
          <div class="AvatarStation">
              <img class="Img-Circle-Station" src="https://www.skialacarte.fr/FrontOffice/javax.faces.resource/img/stations/logo/les-deux-alpes-transparent.png.xhtml?ln=theme-normal">
              <div class="NameStation">Les 2 Alpes</div>
            </div>  
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="1">
          <div class="AvatarStation">
              <img class="Img-Circle-Station" src="https://www.alpedhuez.com/templates/2017/assets/images/logo-alpe-d-huez.png">
              <div class="NameStation">Halpes D'Huez</div>
            </div>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="1">
          <div class="AvatarStation">
              <img class="Img-Circle-Station" src="https://www.chamrousse.com/medias/images/info_pages/logochamrousse-bleu-1880.png">
              <div class="NameStation">Chamrousse</div>
            </div>
      </mat-grid-tile>
      
    </mat-grid-list>
  
  </div>
  