.example-card {
    max-width: 400px;
  }
  
  .example-header-image {
    background-image: url('https://www.lessaisies.com/templates/OT2016/images/logo_les_saisies.png');
    background-size: cover;
  }

  .Img-Circle-Station {
  border-radius: 50%;
	width:100%;
  height:200px;
  background-color : white;
  box-shadow: rgba(0,0,0,0.8) 0 0 10px;
}

.AvatarStation{
width:100%;
margin: 3%;
}

.NameStation{
text-align : center;
color: brown;
font-size : 30px;
}

  .container{
    // background-color: #3498DB;
  }